@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #323232;
  --primary-hover-color: #46487E;
  --dark-color: #263238;
  --secondary-color: #9E9E9E;
  --background-color: #F3F2FF;
  --footer-color: #46487E;
  --light-color: #F5F5F5;
}

html, body {
  margin: 0;
  padding:0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}